html {
    padding: 0;
    margin: 0;
    // Defines what 1rem is (10px)
    font-size: 62.5%;
}

body {
    background-color: $color-primary;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.7;
    color: $color-white;
}
