.home-page {
    text-align: center;

    &__primary-heading {
        font-size: 8rem;
    }

    &__secondary-heading {
        font-size: 3rem;
        font-weight: 300;
    }

    &__images-container {
        width: 850px;
        margin: 150px auto;
        height: 200px;
        display: flex;
        justify-content: space-evenly;

        .typescript {
            background-color: $color-white;
            width: 200px;
        }

        .sass {
            border-radius: 50%;
            background-color: $color-white;
            width: 200px;
        }
    }
}
